.resultsImage__container a img {
  width: 110px;
  height:180px;
}

@media screen and (min-width: 1200px) {
  .resultsCard__container {
    margin: 0.5rem;
    max-width: 23%;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .resultsCard__container:hover {
    -webkit-box-shadow: 0px 0px 5px #dadada;
            box-shadow: 0px 0px 5px #dadada;
    padding: 0 0.1rem;
  }
  .resultsImage__container {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    height: 200px;
    width: 120px;
  }
  .resultsImage__container .resultsImage__wrapper {
    padding: 0 0.5rem;
  }
  .resultsImage__container .resultsImage__wrapper img {
    height: 240px;
  }
  .resultsImage__container a img {
    width: 100px;
  }
}

@media screen and (max-width: 1025px) {
  .resultsCard__container {
    margin: 0.6rem;
    max-width: 29%;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
  }
  .resultsCard__container:hover {
    -webkit-box-shadow: 0px 0px 5px #dadada;
            box-shadow: 0px 0px 5px #dadada;
    padding: 0 0.1rem;
  }
}

.resultsImage__container {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  height: 200px;
  width: 120px;
}

.resultsImage__container .resultsImage__wrapper {
  padding: 0 0.5rem;
}

.resultsImage__container .resultsImage__wrapper img {
  height: 240px;
  width: 120px;
}

@media screen and (max-width: 900px) {
  .resultsCard__container {
    margin: 0.4rem;
    max-width: 31%;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
  }
  .resultsCard__container:hover {
    -webkit-box-shadow: 0px 0px 5px #dadada;
            box-shadow: 0px 0px 5px #dadada;
    padding: 0 0.1rem;
  }
  .resultsImage__container {
    margin: 0 auto;
    margin-bottom: 0.5rem;
    height: 200px;
    width: 130px;
  }
  .resultsImage__container .resultsImage__wrapper {
    padding: 0 0.5rem;
  }
  .resultsImage__container .resultsImage__wrapper img {
    height: 240px;
  }
  .resultsImage__container a img {
    width: 100px;
  }
  .resultsCard__content {
    margin: 0.5rem 5rem;
    font-family: Roboto;
  }
}

@media screen and (max-width: 600px) {
  .resultsCard__container {
    margin: 0rem auto;
    max-width: 50%;
    border: 0.5px solid #d1d1d1;
    -webkit-transition: 0.2s all ease;
    transition: 0.2s all ease;
    font-size: 0.7rem;
  }
  .resultsCard__container:hover {
    -webkit-box-shadow: 0px 0px 5px #dadada;
            box-shadow: 0px 0px 5px #dadada;
    padding: 0 0.1rem;
  }
  .resultsCard__container .resultsImage__container {
    margin: 1rem auto;
    margin-bottom: 0.5rem;
    height: 150px;
    width: 90px;
  }
  .resultsCard__container .resultsImage__container .resultsImage__wrapper {
    padding: 0 0.5rem;
  }
  .resultsCard__container .resultsImage__container .resultsImage__wrapper img {
    width: 150px;
    height: 150px;
  }
  .resultsCard__container .resultsCard__content {
    margin: 0.5rem 1rem;
    font-family: Roboto;
  }
}

.resultsCard__content {
  margin: 0.5rem 1.3rem;
  font-family: Roboto;
}

.resultsCard__content .resultsCard__title {
  color: black;
  font-weight: 400;
}

.resultsCard__content .resultsCard__title .assured__tag {
  width: 60px;
  height: 20px;
}

.resultsCard__content .resultsCard__title .review__count {
  color: #878787;
  padding: 0 0.3rem;
  font-weight: 400;
}

.resultsCard__content .resultsCard__price {
  color: black;
  font-weight: 500;
  margin-top: -0.4rem;
}

.resultsCard__content .resultsCard__price .price {
  margin-right: 0.5rem;
}

.resultsCard__content .resultsCard__price .resultsCard__aPrice {
  text-decoration: line-through;
  color: #acacac;
}

.resultsCard__content .resultsCard__price .resultsCard__dPercent {
  color: #09a809;
}

.resultsCard__content .results__emi {
  color: black;
  margin-top: 0.5rem;
}
/*# sourceMappingURL=ResultsCard.css.map */