
.ads__container{
 // border:1px solid grey;
 margin:0rem 0.4rem;
 margin-bottom:0.8rem;
}

.ads__wrapper{
 display: flex;
 a{
  flex:1 0 30%;
   margin:0 0.3rem;
 }
}


@media screen and (max-width:600px){

  .ads__container{
    // border:1px solid grey;
    margin:0.3rem 0.2rem;
    margin-bottom:1.5rem;
   }

 .ads__wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  a{
   flex:1 0 100% ;
    margin:0.3rem 0.3rem;
  }
 }
}



