.wifiLoader {
    --background: #62abff;
    --front-color: #4f29f0;
    --back-color: #c3c8de;
    --text-color: #414856;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wifiLoader svg {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wifiLoader svg circle {
    position: absolute;
    fill: none;
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform: rotate(-100deg);
    transform-origin: center;
}
.wifiLoader svg circle.back {
    stroke: var(--back-color);
}
.wifiLoader svg circle.front {
    stroke: var(--front-color);
}
.wifiLoader svg.circleOuter {
    height: 86px;
    width: 86px;
}
.wifiLoader svg.circleOuter circle {
    stroke-dasharray: 62.75 188.25;
}
.wifiLoader svg.circleOuter circle.back {
    animation: circleOuter 1.8s ease infinite 0.3s;
}
.wifiLoader svg.circleOuter circle.front {
    animation: circleOuter 1.8s ease infinite 0.15s;
}
.wifiLoader svg.circleMiddle {
    height: 60px;
    width: 60px;
}
.wifiLoader svg.circleMiddle circle {
    stroke-dasharray: 42.5 127.5;
}
.wifiLoader svg.circleMiddle circle.back {
    animation: circleMiddle 1.8s ease infinite 0.25s;
}
.wifiLoader svg.circleMiddle circle.front {
    animation: circleMiddle 1.8s ease infinite 0.1s;
}
.wifiLoader svg.circle-inner {
    height: 34px;
    width: 34px;
}
.wifiLoader svg.circle-inner circle {
    stroke-dasharray: 22 66;
}
.wifiLoader svg.circle-inner circle.back {
    animation: circle-inner 1.8s ease infinite 0.2s;
}
.wifiLoader svg.circle-inner circle.front {
    animation: circle-inner 1.8s ease infinite 0.05s;
}
.wifiLoader .text {
    position: absolute;
    bottom: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
}
.wifiLoader .text::before, .wifiLoader .text::after {
    content: attr(data-text);
}
.wifiLoader .text::before {
    color: var(--text-color);
}
.wifiLoader .text::after {
    color: var(--front-color);
    animation: text-animation 3.6s ease infinite;
    position: absolute;
    left: 0;
}



.card {
    background: #E8EBF3;
    height: 30vh;
    width: 30vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;

    margin:  auto;
    margin:20rem auto ;

    border-radius: 10px;

    
}


@keyframes circleOuter {
    0% {
        stroke-dashoffset: 25;
   }
    25% {
        stroke-dashoffset: 0;
   }
    65% {
        stroke-dashoffset: 301;
   }
    80% {
        stroke-dashoffset: 276;
   }
    100% {
        stroke-dashoffset: 276;
   }
}
@keyframes circleMiddle {
    0% {
        stroke-dashoffset: 17;
   }
    25% {
        stroke-dashoffset: 0;
   }
    65% {
        stroke-dashoffset: 204;
   }
    80% {
        stroke-dashoffset: 187;
   }
    100% {
        stroke-dashoffset: 187;
   }
}
@keyframes circle-inner {
    0% {
        stroke-dashoffset: 9;
   }
    25% {
        stroke-dashoffset: 0;
   }
    65% {
        stroke-dashoffset: 106;
   }
    80% {
        stroke-dashoffset: 97;
   }
    100% {
        stroke-dashoffset: 97;
   }
}
@keyframes text-animation {
    0% {
        clip-path: inset(0 100% 0 0);
   }
    50% {
        clip-path: inset(0);
   }
    100% {
        clip-path: inset(0 0 0 100%);
   }
}

 .socials > a {
    display: block;
    width: 30px;
    opacity: 0.2;
    transform: scale(var(--scale, 0.8));
    transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}
 .socials > a:hover {
    --scale: 1;
}
